.stat-levels {
  border-radius: 10px;
}
.stat-bar {
  overflow: hidden;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0;
}
.stat-bar:last-child {
  margin-bottom: 0;
}
.stat-bar-rating {
  border-radius: 4px;
  float: left;
  width: 0;
  height: 8px;
  font-size: 12px;
  color: white;
  text-align: center;
  text-indent: -9999px;
  background-color: #428bca;
  animation: animate-width;
  transition: 0.3s width linear;
}

@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
